@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazirmatn', 'Inter', sans-serif;
  scroll-behavior: smooth;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
